@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #e8f1f9;
  --color-primary-foreground: #f5f5f5;
  --color-accent-foreground: #ff785a;
  --color-primary-text: #ffffff;
  --color-secondary-text: #1f2b5f;
  --color-accent-text: #4d9de0;
}

body {
  background-color: var(--color-background);
  color: rgb(var(--color-primary-text));
}
